html{
	font-family: calibri;
	background-color: black;
}
body{
	animation: silau 2s;
	-webkit-animation: silau 2s;
	-moz-animation: silau 2s;
	-ms-animation: silau 2s;
}
::-webkit-scrollbar{
	width:1vh;
}
::-webkit-scrollbar-track{
	background-color:skyblue;
}
::-webkit-scrollbar-thumb{
	background-color: skyblue;
}
::-moz-scrollbar{
	width:1vh;
}
::-moz-scrollbar-track{
	background-color:skyblue;
}
::-moz-scrollbar-thumb{
	background-color: skyblue;
}
::-ms-scrollbar{
	width:1vh;
}
::-ms-scrollbar-track{
	background-color:skyblue;
}
::-ms-scrollbar-thumb{
	background-color: skyblue;
}
::selection {background: skyblue;
 color:#ffffff;}
::-moz-selection {background: skyblue;
 color:#ffffff;}
::-webkit-selection {background: skyblue;
 color:#ffffff;}
video{
	position: fixed;
	height: auto;
	left: 0;
	top: 0;
	margin: auto;
	min-width: 100%;
}
.header_utama{
	float: left;
	width: 101%;
	height: auto;
	margin-top: -0.5%;
	position: relative;
	margin-left: -0.6%;
	left: 0;
}
.header1{
	background-color: #749FBB;
	width: 50%;
	height: 99.6vh;
	float: left;
}
.header_utama .header1 h1{
	margin-top: 30%;
	font-size: 5em;
	color: white;
		font-family:Coneria Script Demo;
	font-weight: 400;
	margin-left: -10%;
	text-align: center;
	letter-spacing: 3px;
	animation: dariatas 3s;
	-webkit-animation: dariatas 3s;
	-moz-animation: dariatas 3s;
	-ms-animation: dariatas 3s;
}
.header_utama .header1 h3{
	margin-top: 43%;
	text-align: center;
	color:white;
	font-size: 2.5em;
	letter-spacing: 4px;
	font-weight: 100;
	display: none;
}
.header_utama .header1 h2{
	font-size: 1.5em;
	color: white;
	font-weight: 200;
	margin-left: -10%;
	margin-top: -1%;
	text-align: center;
	letter-spacing: 3px;
	animation: daribawah 3s;
	-webkit-animation: daribawah 3s;
	-moz-animation: daribawah 3s;
	-ms-animation: daribawah 3s;
}
/*HEADER1*/
.header1 .judul{
	width: 100%;
	background-color: transparent;
	padding-top: 2%;
	position: fixed;
	top: 0;
	left: 0;

}
.header1 .judul ul li{
	color: white;
	list-style: none;
	font-size: 40px;
	line-height: 0.2;
	font-weight: 200;
	margin-left: 2%;
	letter-spacing: 1.5px;
}
.header1 .judul ul li[name="logo"]{
	float: left;
	animation: darikiri 3s;
	-webkit-animation: darikiri 3s;
	-moz-animation: darikiri 3s;
	-ms-animation: darikriri 3s;

}
.header1 .judul ul li[name="menu"]{
	float: right;
	display: none;
	cursor: pointer;
}
.header1 .judul img{
	width: 31%;
	margin-top: -18%;
	margin-left: 20%;
}
.header1 button{
	background-color: transparent;
	color: white;
	padding: 2%;
	width: 30%;
	border: 1px solid white;
}

/*HEADER2*/
.header2{
	background: url('../gambar/r2.jpg') no-repeat;
	width: 50%;
	height: 99.6vh;
	float: left;
}
.header_utama .header1 .judul span{
	color: white;
	float: right;
	line-height: 0;
	font-size: 37px;
	margin-right: 5%;
}

/*NAVBAR*/
.navbar{
	width: 30%;
	background-color:transparent;
	position: relative;
	float: right;
	height: auto;
	margin-top: -7%;
}
.navbar ul{
	list-style: none;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight: 100;
	line-height: 4.4;
}
.navbar ul li a:hover{
	transition: all 1s;
	margin-left: 5%;
}
.navbar3 ul li a:hover{
	transition: all 1s;
	margin-left: 5%;
}
/*NAVBAR2*/
.navbar2{
	width: 30%;
	background-color:transparent;
	position: relative;
	text-align: center;
	margin: auto;
	height: auto;
	margin-top: -7%;
}
.navbar2 ul{
	list-style: none;
}
.navbar2 ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight: 100;
	line-height: 4;
}
/*NAVBAR3*/
.navbar3{
	width: 100%;
	background-color:transparent;
	position: relative;
	text-align: center;
	margin: auto;
	height: auto;
	margin-top: -15%;
}
.navbar3 ul{
	list-style: none;
}
.navbar3 ul li a{
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-weight: 100;
	line-height: 3.5;
}
/*KETERANGAN*/
.keterangan{
	width: 30%;
	text-align: center;
	float: left;
	margin-top: 8%;
	margin-left: 5%;
	font-size: 20px;
	background-color: transparent;
}
.keterangan h2[name="about"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
.keterangan h2[name="gallery"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;

}
.keterangan h2[name="aspek"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
.keterangan h2[name="lorem"]{
	display:none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
/*MENUSAMPING*/
.sidemenuin {
    height: 100%;
    width: 	0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: orange;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top:10%;
}
.sidemenuin a[name="close"]{
	color: white;
	text-decoration: none;
	top: 0;
	right: 0;
	margin-right: 3%;
	margin-top: 2%;
	position: absolute;
}
.sidemenuin a:hover{
	transition: all.2s;
	transform: scale(1.5)rotate(360deg);
}
.sidemenuin2 {
    height: 100%;
    width: 	0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: orange;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:10%;
}
.sidemenuin2 a[name="close"]{
	color: white;
	text-decoration: none;
	font-size: 50px;
	top: 0;
	right: 0;
	margin-right: 4%;
	position: absolute;
}
.sidemenuin2 a:hover{
	transition: all.2s;
	transform: scale(1.5)rotate(360deg);
}
.sidemenuin3 {
    height: 100%;
    width: 	0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:10%;
}
.sidemenuin3 a[name="close"]{
	color: black;
	text-decoration: none;
	font-size: 50px;
	top: 0;
	right: 0;
	margin-right: 4%;
	margin-top: 1%;
	position: absolute;
}
.sidemenuin3 a:hover{
	transition: all.2s;
	transform: scale(1.5)rotate(360deg);
}

/*LINGKARAN*/
.circle{
	background-color: #EBECE6;
	border-radius: 200%;
	width: 190px;
	height: 190px;
	margin-top: 34%;
	margin-left: -14%;
	float: left;
	text-align: center;
	cursor: pointer;
	animation: zoomin 2s;
 	-webkit-animation: zoomin 2s;
 	-moz-animation: zoomin 2s;
}
.circle:first-child:hover .header1 {
  background: #ffca6d;
  
}
.circle img{
	margin-top: 42%;
}
.circle:hover{
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-name: pulse;
  animation-name: pulse;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/*TEMPAT ANIMASI*/
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@-moz-keyframes pulse {
  25% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes zoomin {
  from {
    opacity: 0;
    transform: scale3d(0,0,3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes darikiri{
	from{
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		-o-transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
	}
	to{
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}
}
@keyframes dariatas{
	from{
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
		-webkit-transform: translate3d(0, -100%, 0);
		-moz-transform: translate3d(0, -100%, 0);
		-o-transform: translate3d(0, -100%, 0);
		-ms-transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
	}
}
@keyframes daribawah{
	from{
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
	}
}
@keyframes silau{
	from{
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*RESPONSIVE CONTROL*/
@media screen and (max-width: 1024px){
	.header_utama .header1 h2{
		font-size: 1.1em;
	}
	.circle{
	background-color: #EBECE6;
	width: 150px;
	height: 150px;
	float: left;
	cursor: pointer;
}
	.header1{
		margin-top: -0.3%;
		margin-left: -0.2%;
	}
	.header2{
		margin-top: -0.3%;
		width: 50.2%;
		margin-left: 0.0%;
	}
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight: 100;
	line-height: 4;
}
}
@media screen and (max-width: 991px){
	.header2{
		display: none;
	}

	.header1{
	background-color: #749FBB;
	width: 100.6%;
	height: 100vh;
	}
	.header_utama .header1 h1{
	margin-top: 21%;
	text-align: center;
	margin-left: 2%;
	}
	.header_utama .header1 h2{
	text-align: center;
	margin-left: 2%;
	letter-spacing: 9px;
	font-weight: 100;
	font-size: 2em;
	}
	.header1 .judul ul li[name="menu"]{
	float: right;
	display: block;
	}
	.navbar{
		width: 50%;
		margin: auto;
		text-align: right;
		margin-top: -8%;
	}
	.navbar ul li a{
	text-decoration: none;
	color: white;
	margin-right: 10%;
	font-size: 25px;
	font-weight: 100;
	line-height: 4;
}
	.sidemenuin a[name="close"]{
		display: none;
}
.keterangan{
	width: 44%;
	text-align: center;
	float: left;
	margin-top: 4%;
	letter-spacing: 1px;
	font-size: 14px;
	background-color: transparent;
}
}
@media screen and (max-width: 768px){
	.header_utama .header1 h2{
	letter-spacing: 7.5px;
	font-weight: 100;
	font-size: 1.5em;
	}
	.header_utama .header1 h1{
	margin-top: 22%;
	text-align: center;
	margin-left: 2%;	
	}
	.header1 .judul{
	width: 100%;
	background-color: transparent;
	padding-top: 3.5%;
	position: fixed;
	top: 0;
	left: 0;
	}
	.header1{
	background-color: #749FBB;
	width: 100.6%;
	height: 98.6vh;
	padding: 0.5%;
	margin-top: -0.5%;
	margin-left: -1%;
	}
	.keterangan{
display: none;
}
	.navbar{
		width: 80%;
		margin: auto;
		text-align: right;
		margin-top: -8%;
	}
}
@media screen and (max-width: 425px){
	.header1{
		margin-top: -1.3%;
		width: 101.4%;
		height: 99vh;
	}
	.header1 .judul ul li[name="logo"]{
	float: right;
	line-height: 1px;
	margin-right: 28%;
	}
	.header1 .judul ul li[name="menu"]{
	float: left;
	margin-left: -8%;
	}
	.header1 .judul{
	width: 100%;
	background-color: transparent;
	padding-top: 7%;
	position: fixed;
	top: 0;
	left: 0;
	}
	.header_utama .header1 h2{
	letter-spacing: 4px;
	font-weight: 100;
	font-size: 1em;
	}
	.header_utama .header1 h1{
	font-size: 4em;
	margin-top: 45%;
	}
	.navbar2{
	width: 100%;
	margin-top: -7%;
	}
	.navbar3 ul li a{
	text-decoration: none;
	color: black;
	width: 100%;
	margin-left: 0%;
	float: left;
	text-align: left;
	font-size: 22px;
	font-weight: 100;
	line-height: 4;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 23px;
	font-weight: 100;
	line-height: 4.4;
}
}
@media screen and (max-width: 375px){
	.header1 .judul ul li[name="menu"] img{
	width: 25%;
	margin-left: -1%;
	}
	.header1 .judul ul li[name="logo"]{
	float: right;
	line-height: 1px;
	margin-right: 25%;
	display: none;
	}
	.header1{
	margin-top: -1.6%;
	width: 102.4%;
	margin-left:-1.7%; 
	height: 99.3vh;
	}
	.header_utama .header1 h1{
	font-size: 3.8em;
	margin-top: 50%;
	}
	.header_utama .header1 h2{
	letter-spacing: 2.7px;
	font-weight: 100;
	font-size: 0.8em;
	}

	.navbar2{
	width: 100%;
	margin-top: -7%;
	margin-left: -2.5%;
	}
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 100;
	line-height: 4.9;
}
}
@media screen and (max-width: 320px){
	.header1 .judul ul li[name="menu"] img{
	float: left;
	width: 25%;
	margin-left: 0%;
	padding-top: 5%;

	}
	.header1 .judul ul li[name="logo"]{
	float: right;
	line-height: 1px;
	margin-right: 26%;
	font-size: 35px;
	}
	.navbar2{
	width: 100%;
	margin-top: -7%;
	margin-left: -2.9%;
	}
	.header_utama .header1 h1{
	font-size: 3.7em;
	margin-top: 59%;
	}
	.header_utama .header1 h2{
	letter-spacing: 3px;
	font-weight: 100;
	font-size: 0.8em;
	}
	.header1{
	margin-top: -2%;
	width: 103%;
	margin-left:-1.9%; 
	height: 99.4vh;
	}

.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 100;
	line-height: 5;
}
.navbar3 ul li a{
	text-decoration: none;
	color: black;
	width: 100%;
	margin-left: 0%;
	float: left;
	text-align: left;
	font-size: 20px;
	font-weight: 100;
	line-height: 4;
}
}
