::-webkit-scrollbar{
	width:1vh;
}
::-webkit-scrollbar-track{
	background-color:white;
}
::-webkit-scrollbar-thumb{
	background-color:skyblue;
}
::selection {background: skyblue;
 color:#ffffff;}
::-moz-selection {background: skyblue;
 color:#ffffff;}
::-webkit-selection {background: skyblue;
 color:#ffffff;}
 .slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    visibility: visible;
     -moz-animation-name: slideUp;
    -moz-animation-duration: 5s;
}
 .kekiri {
    animation-name: kekiri;
    -webkit-animation-name: kekiri;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
     -moz-animation-name: kekiri;
    -moz-animation-duration: 2s;
}
 .kebawah {
    animation-name: kebawah;
    -webkit-animation-name: kebawah;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
     -moz-animation-name: kebawah;
    -moz-animation-duration: 2s;
}

 .kekanan {
    animation-name: kekanan;
    -webkit-animation-name: kekanan;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
     -moz-animation-name: kekanan;
    -moz-animation-duration: 2s;
}
 .mendekat {
    animation-name: mendekat;
    -webkit-animation-name: mendekat;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
     -moz-animation-name: mendekat;
    -moz-animation-duration: 2s;
}

@keyframes mendekat {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}


@keyframes kekanan {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes kebawah {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes kekiri {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
        -moz-transform: translateY(70%);

    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
    }
}





.header{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#309c39;
}
.header p{
	font-size:200px;
	font-family:Verdana, Geneva, sans-serif;
	color:white;
	text-align:center;
	opacity:0.1;
	margin-top:7%;
	z-index:1;
	animation:bawah 2s;
	-moz-animation:bawah 2s;
	-webkit-animation:bawah 2s;
}
.bunder{
	width:80px;
	height:80px;
	background:#ffffff;
	margin-top:-15%;
	margin-left:auto;
	margin-right:auto;
	z-index:2;
	border-radius:50%;
	webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-name: pulse;
  animation-name: pulse;
  -moz-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.bunder img{
	margin-left:30%;
	margin-top:30%;
}
/*TEMPAT ANIMASI*/
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@-moz-keyframes pulse {
  25% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -moz-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.header li a:hover {
    padding-right:65px;
	color:#fff;
	font-size:22;
}
.konten{
	position:absolute;
	left:0;
	top:100%;
	width:100%;
	height:auto;
	background:#254151;
}
.isi{
	width:80%;
	height:auto;
	margin:auto;
/* 	background:green;
 */	margin-top:6%;
}
.isi h3{
	font-family:Arial, Helvetica, sans-serif;
	color:white;
	text-align:center;
	font-size:35;
}
.isi p{
	text-align:center;
	color:white;
	font-size:20;
	margin-top:-2%;
}
.tentang{
	width:80%;
	height:auto;
/* 	background:blue;
 */	margin-top:10%;
 }
#judul{
	margin-left:2%;
	color:white;
	font-size:33;
	font-family:Verdana, Geneva, sans-serif;
}
.tentang p{
	margin-left:5%;
	margin-top:5%;
	color:#747b83;
	font-size:23;
	font-family:calibri;
	font-weight:200;
}
.lain{
	width:100%;
	height:400px;
	margin-top:5%;
}
.bingkai{
	width:250px;
	height:90px;
	margin:4%;
	float:left;
	margin-left:9%;
}
#people{
	font-size:40;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	color:#d96354;
	margin:auto;
	padding-top:6%;
	filter: grayscale(100%);
}
#living{
	font-size:40;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	color:#15909f;
	margin:auto;
	padding-top:6%;
	filter: grayscale(100%);
}
#ekonomi{
	font-size:40;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	color:#309c39;
	margin:auto;
	padding-top:6%;
	filter: grayscale(100%);
}
#gov{
	font-size:35;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	color:#acaf30;
	margin:auto;
	padding-top:9%;
	filter: grayscale(100%);
}
#en{
	font-size:29;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	color:#daa111;
	margin:auto;
	padding-top:10%;
	filter: grayscale(100%);
}
#mobi{
	font-size:40;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	color:#6b605c;
	margin:auto;
	padding-top:6%;
	filter: grayscale(100%);
}
#people:hover{
	filter: grayscale(0%);
	transition:1.3s all;
}
#living:hover{
	filter: grayscale(0%);
	transition:1.3s all;
}
#ekonomi:hover{
	filter: grayscale(0%);
	transition:1.3s all;
}
#gov:hover{
	filter: grayscale(0%);
	transition:1.3s all;
}
#en:hover{
	filter: grayscale(0%);
	transition:1.3s all;
}
#mobi:hover{
	filter: grayscale(0%);
	transition:1.3s all;
}
.bingkai a{
	text-decoration:none;
}
#judul2{
	color:white;
	font-size:25;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	margin-top:5%;
}

@keyframes bawah{
	from{
		opacity:0.1;
		transform:translate3d(0,-50%,0);
		-moz-transform:translate3d(0,-50%,0);
		-webkit-transform:translate3d(0,-50%,0);
	}
	to{
		opacity:0.1;
		transform:none;
		-moz-transform:none;
		-webkit-transform:none;
	}
}
/*NAVBAR*/
.navbar{
	width: 30%;
	background-color:transparent;
	position: relative;
	float: right;
	height: auto;
	margin-top: -7%;
}
.navbar ul{
	list-style: none;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight: 100;
	line-height: 4.4;
}
.navbar ul li a:hover{
	transition: all 1s;
	margin-left: 5%;
}
.navbar3 ul li a:hover{
	transition: all 1s;
	margin-left: 5%;
}
/*NAVBAR3*/
.navbar3{
	width: 100%;
	background-color:transparent;
	position: relative;
	text-align: center;
	margin: auto;
	height: auto;
	margin-top: -15%;
}
.navbar3 ul{
	list-style: none;
}
.navbar3 ul li a{
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-weight: 100;
	line-height: 3.5;
}

/*KETERANGAN*/
.keterangan{
	width: 30%;
	text-align: center;
	float: left;
	font-weight: 100;
	color: white;
	margin-top: 8%;
	margin-left: 5%;
	font-size: 20px;
	background-color: transparent;
}
.keterangan h2[name="about"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
.keterangan h2[name="gallery"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;

}
.keterangan h2[name="aspek"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
.keterangan h2[name="lorem"]{
	display:none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
/*MENUSAMPING*/
.sidemenuin {
    height: 100%;
    width: 	0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    font-family: calibri;
    background-color: orange;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top:10%;
}
.sidemenuin a[name="close"]{
	color: white;
	text-decoration: none;
	top: 0;
	right: 0;
	margin-right: 3%;
	margin-top: 2%;
	position: absolute;
}
.sidemenuin a:hover{
	transition: all.2s;
	transform: scale(1.5)rotate(360deg);
}
.sidemenuin3 {
    height: 100%;
    width: 	0%;
    font-family: calibri;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:10%;
}
.sidemenuin3 a[name="close"]{
	color: black;
	text-decoration: none;
	font-size: 50px;
	top: 0;
	right: 0;
	margin-right: 4%;
	margin-top: 1%;
	position: absolute;
}
.sidemenuin3 a:hover{
	transition: all.2s;
	transform: scale(1.5)rotate(360deg);
}

.menu{
	background-color: transparent;
	width: 100%;
	position: fixed;
	transition: 2s;
	z-index: 1;
	top: 0;
	left: 0;
	height: 12%;
}
.menu ul{
	margin: 0;
	list-style: none;
}
.menu ul li img {
	float: right;
	width:4%;
	margin-top:1%;
	margin-right: 5%;
}
.menu ul li img:hover {
	transition: all 2s;
	transform: rotate(360deg);
	cursor: pointer;
}
@keyframes daribawah{
	from{
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
	}
}
@media screen and (max-width: 1024px){
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight: 100;
	line-height: 4;
}
}
@media screen and (max-width: 991px){
	.navbar{
		width: 50%;
		margin: auto;
		text-align: right;
		margin-top: -8%;
	}
	.navbar ul li a{
	text-decoration: none;
	color: white;
	margin-right: 10%;
	font-size: 25px;
	font-weight: 100;
	line-height: 4;
}
	.sidemenuin a[name="close"]{
		display: none;
}
.keterangan{
	width: 44%;
	text-align: center;
	float: left;
	margin-top: 4%;
	letter-spacing: 1px;
	font-size: 14px;
	background-color: transparent;
}
}

@media screen and (max-width:1330px){
	.header p{
		font-size:120;
		margin-top:3%;
	}
	.bunder{
	margin-top:-12%;
	width:60px;
	height:60px;
	}
	.bunder img{
	margin-left:22%;
	margin-top:22%;
	}
}
@media screen and (max-width:425px){
		.navbar2{
	width: 100%;
	margin-top: -7%;
	}
	.navbar3 ul li a{
	text-decoration: none;
	color: black;
	width: 100%;
	margin-left: 0%;
	float: left;
	text-align: left;
	font-size: 22px;
	font-weight: 100;
	line-height: 4;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 23px;
	font-weight: 100;
	line-height: 4.4;
}
	.bunder{
	display:none;
	}
	#judul{
	text-align:center;
	width:120%;
	}
	#people{
	text-align:left;
	}
	#living{
	text-align:left;
	}
	#ekonomi{
	text-align:left;
	}
	#en{
	text-align:left;
	}
	#mobi{
	text-align:left;
	}
	#gov{
	text-align:left;
	}
		.navbar2{
	width: 100%;
	margin-top: -7%;
	margin-left: -2.5%;
	}
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 100;
	line-height: 4.9;
}
}
@media screen and (max-width:375px){
	.navbar2{
	width: 100%;
	margin-top: -7%;
	margin-left: -2.5%;
	}
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 100;
	line-height: 4.9;
}
	.isi p{
	font-size:17;
	}
	.tentang p{
	font-size:18;
	}
	#judul{
	font-size:25;
	}
	#judul2{
	padding-left:25%;
	}
}
@media screen and (max-width:320px){
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 100;
	width: 100%;
	line-height: 5;
}
.navbar3 ul li a{
	text-decoration: none;
	color: black;
	width: 100%;
	margin-left: 0%;
	float: left;
	text-align: left;
	font-size: 20px;
	font-weight: 100;
	line-height: 4;
}
	.isi p{
	font-size:17;
	}
	.tentang p{
	font-size:18;
	}
}

@media screen and (max-width:980px){
	.header p{
		font-size:170;
	}
}
@media screen and (max-width: 768px){
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 100;
	line-height: 5;
}
.navbar3 ul li a{
	text-decoration: none;
	color: black;
	width: 100%;
	margin-left: 0%;
	float: left;
	text-align: left;
	font-size: 20px;
	font-weight: 100;
	line-height: 4;
}
}
@media screen and (max-width:825px){
	.header p{
		font-size:120;
	}
	.bunder{
	margin-top:-12%;
	width:60px;
	height:60px;
	}
	.bunder img{
	margin-left:22%;
	margin-top:22%;
	}
}
@media screen and (max-width:646px){
	.header p{
		font-size:100;
		margin-top:20%;
	}
}
@media screen and (max-width:566px){
	.header p{
		font-size:95;
		margin-top:20%;
	}
}
@media screen and (max-width:526px){
	.header p{
		font-size:80;
		margin-top:20%;
	}
}
@media screen and (max-width:393px){
	.header p{
		font-size:70;
		margin-top:20%;
	}
}
@media screen and (max-width:352px){
	.header p{
		font-size:48;
		margin-top:45%;
	}
	.bunder{
	margin-top:-13%;
	width:40px;
	height:40px;
	}
	.bunder img{
	width:25px;
	margin-left:22%;
	margin-top:22%;
	}
	.isi h3{
	font-size:30;
	}
	.isi p{
	font-size:19;
	}
	.tentang{
	margin-top:12%;
	}
	.tentang p{
	font-size:18;
	}
	#judul{
	font-size:28;
	}
	.bingkai{
	margin-left:0;
	}
#people{
	font-size:35;
	}
#living{
	font-size:35;
	}
#ekonomi{
	font-size:35;
	}
#gov{
	font-size:30;
	}
#en{
	font-size:24;
	}
#mobi{
	font-size:35;
	}
}

@media screen and (max-width:1330px){
	.bingkai{
		margin-left:20%;
	}
}
@media screen and (max-width:1134px){
	.bingkai{
		margin-left:15%;
	}
}
@media screen and (max-width:935px){
	.bingkai{
		margin-left:12%;
	}
}
@media screen and (max-width:810px){
	.bingkai{
		margin-left:8%;
	}
}
@media screen and (max-width:675px){
	.bingkai{
		margin-left:30%;
	}
}
@media screen and (max-width:488px){
	.bingkai{
		margin-left:1%;
		width:230px;
	}
	#judul2{
		text-align:left;
	}
}