.header{
	background:url("bacground/gambar1.jpg");
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}
.judul{
	width:9%;
	height:100%;
	background:white;
	position:absolute;
	left:0;
	top:0;
}
.judul p{
	font-size:100;
	font-family:Verdana, Geneva, sans-serif;
	margin-top:250%;
	transform:rotate(-40deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-40deg);