::-webkit-scrollbar{
	width:1vh;
}
::-webkit-scrollbar-track{
	background-color:white;
}
::-webkit-scrollbar-thumb{
	background-color:skyblue;
}

.slideUp {
    animation-name: slideUp;
    -webkit-animation-name: slideUp;
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    visibility: visible;
     -moz-animation-name: slideUp;
    -moz-animation-duration: 5s;
}
 .kekiri {
    animation-name: kekiri;
    -webkit-animation-name: kekiri;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
     -moz-animation-name: kekiri;
    -moz-animation-duration: 2s;
}
 .kebawah {
    animation-name: kebawah;
    -webkit-animation-name: kebawah;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
     -moz-animation-name: kebawah;
    -moz-animation-duration: 2s;
}

 .kekanan {
    animation-name: kekanan;
    -webkit-animation-name: kekanan;
    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    visibility: visible;
     -moz-animation-name: kekanan;
    -moz-animation-duration: 3s;
}
 .mendekat {
    animation-name: mendekat;
    -webkit-animation-name: mendekat;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
     -moz-animation-name: mendekat;
    -moz-animation-duration: 2s;
}

@keyframes mendekat {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}


@keyframes kekanan {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes kebawah {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes kekiri {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
        -moz-transform: translateY(70%);

    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
    }
}




.header{
	background: url('gambar/background_blue_v0011.jpg');
	background-position: center;
	background-attachment: fixed;
	position:absolute;
	background-size: cover;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
}
#p1{
	color: white;
	font-family: calibri;
	text-align: center;
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 6px;
	margin-top:-6%;
	animation: fadeindown 3s;
	-webkit-animation: fadeindown 3s;
	-moz-animation:fadeindown 3s
}
.header h2{
	color: white;
	padding-top:15%;
	text-align: center;
	font-size: 7em;
	font-family:Coneria Script Demo;
	margin-top: -0.2%;
}
::selection {background: skyblue;
 color:#ffffff;}
::-moz-selection {background: skyblue;
 color:#ffffff;}
::-webkit-selection {background: skyblue;
 color:#ffffff;}

@keyframes fadeindown{
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to{
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

/*APA SIH MALANG ITU*/
.apasih{
	width: 80%;
	margin-left: 10%;
	margin-top:110vh;
	height:auto;
	float: left;
	padding-bottom: 2%;
	background-color: transparent;
}
.apasih h1{
	text-align: center;
}
.apasih p{
	text-align: center;
	font-size:22px;
	font-family:calibri light;
}

/* kondisi */
.mengapa_kami{
	width: 100%;
	height: auto;
	float: left;
	margin-top: 2%;
	margin-top:115vh;
}
.mengapa_kami h1{
	font-family: calibri;
	text-align: center;
	font-size:35px;
	font-weight:400;
}
.mengapa{
	width: 25%;
	text-align: center;
	padding: 7.5vh;
	margin-top:-1.5%; 
	height: auto;
	margin:auto;
	float: left;
	font-family:calibri;
	line-height:1.4;
}
.mengapa h2{
	font-weight:500;
}
/* menjadi good people */
.container{
	width: 100%;
	height: auto;	
}
.tips{
	background-color: transparent;
	width: 100%;
	height: auto;
	padding-top: 1%;
	float: left;
}
.tips h1{
	text-align: center;
	font-family: calibri;
	font-weight:400;
}
#quotes{
	text-align: center;
	font-size:18px;
	font-family:calibri;
	font-weight:150;
}
.tips p{
	text-align: center;
}
.subtips{
	width: 22%;
	height: auto;
	float: left;
	text-align: center;
	padding: 3vh;
	color: black;
	line-height:1.4;
}
.subtips img{
	width: 90%;
	padding-top: 3%;
}
.subtips h2{
	font-family: calibri;
	font-weight: 600;
}
.subtips p{
	font-family: calibri;
}
/* footer */
.footer{
	background:#65a8d7;
	background-attachment: fixed;
	position:absolute;
	width: 100%;
	height: auto;
	margin-top: 5%;
	left:0;
}
.footer p{
	color:white;
	text-align: center;
	font-family: calibri;
}
.end_float{
	clear: both;
}

/*KETERANGAN*/
.keterangan{
	width: 30%;
	text-align: center;
	float: left;
	font-weight: 100;
	color: white;
	margin-top: 8%;
	margin-left: 5%;
	font-size: 20px;
	font-family: calibri;
	background-color: transparent;
}
@keyframes daribawah{
	from{
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
	}
}
.keterangan h2[name="about"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
.keterangan h2[name="gallery"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;

}
.keterangan h2[name="aspek"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
.keterangan h2[name="lorem"]{
	display:none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
/*MENUSAMPING*/
.sidemenuin {
    height: 100%;
    width: 	0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: orange;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top:10%;
}
.sidemenuin a[name="close"]{
	color: white;
	text-decoration: none;
	top: 0;
	right: 0;
	margin-right: 3%;
	margin-top: 2%;
	position: absolute;
}
.sidemenuin a:hover{
	transition: all.2s;
	transform: scale(1.5)rotate(360deg);
}
.sidemenuin3 {
    height: 100%;
    width: 	0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F4F4F4;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:10%;
}
.sidemenuin3 a[name="close"]{
	color: black;
	text-decoration: none;
	font-size: 50px;
	top: 0;
	right: 0;
	margin-right: 4%;
	margin-top: 1%;
	position: absolute;
}
.sidemenuin3 a:hover{
	transition: all.2s;
	transform: scale(1.5)rotate(360deg);
}
/*NAVBAR3*/
.navbar3{
	width: 100%;
	background-color:transparent;
	position: relative;
	font-family: calibri;
	text-align: center;
	margin: auto;
	height: auto;
	margin-top: -15%;
}
.navbar3 ul{
	list-style: none;
}
.navbar3 ul li a{
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-weight: 100;
	line-height: 3.5;
}
/*NAVBAR*/
.navbar{
	width: 30%;
	background-color:transparent;
	position: relative;
	float: right;
	font-family: calibri;
	height: auto;
	margin-top: -7%;
}
.navbar ul{
	list-style: none;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight: 100;
	line-height: 4.4;
}
.navbar ul li a:hover{
	transition: all 1s;
	margin-left: 5%;
}
.header .judul ul li[name="menu"]{
	color: white;
	list-style: none;
	font-size: 20px;
	float: right;
	width: 10%;
	line-height: 0.2;
				animation: zoomin 3s;
	-webkit-animation: zoomin 3s;
	-moz-animation: zoomin 3s;
	-ms-animation: zoomin 3s;
}
.header .judul img{
	width: 40%;
	margin-top: 20%;
}
.header .judul img:hover{
	transition: all 2s;
	transform: rotate(360deg);
	cursor: pointer;
}
@keyframes zoomin {
  from {
    opacity: 0;
    transform: scale3d(0,0,3);
  }

  50% {
    opacity: 1;
  }
}


/* @media screen and (max-width:1330px){
	.header h2{
		font-size:120;
		margin-top:-13%;
	}
	#p1{
		margin-top:-8%;
	}
	.mengapa{
	margin-left:4%;
	}
	.subtips{
	margin-left:1.3%;
	}
} */
@media screen and (max-width:1024px){
	.subtips{
	width:27%;
	padding:5%;
	margin-left:10%;
	}
	.footer{
	margin-top:5%;
	}
}
@media screen and (max-width:768px){
	.mengapa{
	width:23%;
	}
	.subtips{
	width:35%;
	padding:10;
	margin:auto;
	margin-left:50px;
	}
	.footer{
	margin-top:10%;
	}
}
@media screen and (max-width:425px){
	
	#p1{
		margin-top:-22%;
		font-size:25;
	}
	.mengapa{
	width:40%;
	margin-left:25%;
	}
	.subtips{
	width:50%;
	padding:10;
	margin-left:100px;
	}
	.footer{
	margin-top:10%;
	}
}
@media screen and (max-width:375px){
	.header h2{
		font-size:100;
		margin-top:7;
	}
	#p1{
		letter-spacing: 3px;
	}
	.tips h1{
	font-size:30;
	}
	#quotes{
	font-size:16px;
	}
	.mengapa{
	width:50%;
	margin-left:20%;
	}
	.subtips{
	width:60%;
	padding:10;
	margin-left:65px;
	}
	.footer{
	margin-top:10%;
	}
}
@media screen and (max-width:320px){
	.header h2{
		font-size:80;
		margin-top:100;
	}
	 #p1{
		letter-spacing: 3px;
		font-size:20;
	}
	.tips h1{
	font-size:25;
	}
	#quotes{
	font-size:16px;
	}
	.mengapa{
	margin-left:16%;
	}
	.subtips{
	width:60%;
	padding:10;
	margin-left:65px;
	}
	.footer{
	margin-top:10%;
	} 
}