	::-webkit-scrollbar{
		width:1vh;
	}
	::-webkit-scrollbar-track{
		background-color:white;
	}
	::-webkit-scrollbar-thumb{
		background-color:skyblue;
	}
	::selection {background: skyblue;
	 color:#ffffff;}
	::-moz-selection {background: skyblue;
	 color:#ffffff;}
	::-webkit-selection {background: skyblue;
	 color:#ffffff;}
html{
	font-family: calibri;
}
body{
	animation: silau 2s;
	-webkit-animation: silau 2s;
	-moz-animation: silau 2s;
	-ms-animation: silau 2s;
}
/* footer */
.footer{
	background:#3786BD;
	background-attachment: fixed;
	position:absolute;
	width: 100%;
	height: auto;
	margin-top: 5%;
	left:0;
}
.footer p{
	color:white;
	font-family: calibri;
	text-align: center;
}
.end_float{
	clear: both;
}

/*header utama*/
.header{
	background: url('../gambar/wall4.jpg');
	background-position: center;
	background-size: cover;
	width: 101.2%;
	margin-left: -0.6%;
	margin-top: -1.5%;
	height: 101.9vh;
}

.header h2{
color: white;
	padding-top:15%;
	text-align: center;
	font-size: 7em;
	font-family:Coneria Script Demo;
	margin-top: -0.2%;
	animation: dariatas 3s;
	-webkit-animation: dariatas 3s;
	-moz-animation: dariatas 3s;
	-ms-animation: dariatas 3s;
}
.header p{
	color: white;
	text-align: center;
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 5px;
	margin-top:-6%;
				animation: darikiri 3s;
	-webkit-animation: darikiri 3s;
	-moz-animation: darikiri 3s;
	-ms-animation: darikiri 3s;
}

/*gallery kontrol*/
.container{
	width: 100%;
	margin-top: 5%;
	height: auto;
}
.container2{
	width: 100%;
	margin-bottom:-20%;
	height: auto;
}
.wadah{
  position: relative;
  width: 40%;
  margin-left: 5%;
  float: left;
  margin-top: 5%;
}
.wadah2{
  position: relative;
  width: 40%;
  float: left;
  margin-top: 5%;
  margin-left: 5%;
}
.wadah2[name="kanan"]{
  position: relative;
  width: 40%;
  float: left;
  margin-top: 5%;
}
.wadah2[name="kanan1"]{
  position: relative;
  width: 40%;
  float: left;
  
  margin-top: 5%;

}

.gambar {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.wadah:hover .overlay {
  width: 100%;
  opacity: 0.9;
}
.wadah2:hover .overlay {
  width: 100%;
  opacity: 0.9;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  font-weight: bold;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#hh{
	opacity: 1;
}



/*KETERANGAN*/
.keterangan{
	width: 30%;
	text-align: center;
	float: left;
	font-weight: 100;
	color: white;
	margin-top: 8%;
	margin-left: 5%;
	font-size: 20px;
	background-color: transparent;
}
.keterangan h2[name="about"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
.keterangan h2[name="gallery"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;

}
.keterangan h2[name="aspek"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
.keterangan h2[name="lorem"]{
	display:none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
/*MENUSAMPING*/
.sidemenuin {
    height: 100%;
    width: 	0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: orange;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top:10%;
}
.sidemenuin a[name="close"]{
	color: white;
	text-decoration: none;
	top: 0;
	right: 0;
	margin-right: 3%;
	margin-top: 2%;
	position: absolute;
}
.sidemenuin a:hover{
	transition: all.2s;
	transform: scale(1.5)rotate(360deg);
}
.sidemenuin3 {
    height: 100%;
    width: 	0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F4F4F4;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:10%;
}
.sidemenuin3 a[name="close"]{
	color: black;
	text-decoration: none;
	font-size: 50px;
	top: 0;
	right: 0;
	margin-right: 4%;
	margin-top: 1%;
	position: absolute;
}
.sidemenuin3 a:hover{
	transition: all.2s;
	transform: scale(1.5)rotate(360deg);
}
/*NAVBAR3*/
.navbar3{
	width: 100%;
	background-color:transparent;
	position: relative;
	text-align: center;
	margin: auto;
	height: auto;
	margin-top: -15%;
}
.navbar3 ul{
	list-style: none;
}
.navbar3 ul li a{
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-weight: 100;
	line-height: 3.5;
}
/*NAVBAR*/
.navbar{
	width: 30%;
	background-color:transparent;
	position: relative;
	float: right;
	height: auto;
	margin-top: -7%;
}
.navbar ul{
	list-style: none;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight: 100;
	line-height: 4.4;
}
.navbar ul li a:hover{
	transition: all 1s;
	margin-left: 5%;
}
.header .judul ul li[name="menu"]{
	color: white;
	list-style: none;
	font-size: 20px;
	float: right;
	width: 10%;
	line-height: 0.2;
				animation: zoomin 3s;
	-webkit-animation: zoomin 3s;
	-moz-animation: zoomin 3s;
	-ms-animation: zoomin 3s;
}
.header .judul img{
	width: 40%;
	margin-top: 20%;
}
.header .judul img:hover{
	transition: all 2s;
	transform: rotate(360deg);
	cursor: pointer;
}
@keyframes daribawah{
	from{
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
	}
}

@keyframes dariatas{
	from{
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
		-webkit-transform: translate3d(0, -100%, 0);
		-moz-transform: translate3d(0, -100%, 0);
		-o-transform: translate3d(0, -100%, 0);
		-ms-transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
	}
}
@keyframes silau{
	from{
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes zoomin {
  from {
    opacity: 0;
    transform: scale3d(0,0,3);
  }

  50% {
    opacity: 1;
  }
}
@keyframes darikiri{
	from{
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		-o-transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
	}
	to{
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}
}
/*RESPONSIVE CONTROL*/
@media screen and (max-width: 1024px){
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight: 100;
	line-height: 4;
	}
	/*header utama*/
.header{
	background: url('../gambar/wall4.jpg');
	background-position: center;
	background-size: cover;
	width: 101.2%;
	margin-left: -0.6%;
	margin-top: -1.5%;
	height: 101.9vh;
}

.header h2{
color: white;
	padding-top:15%;
	text-align: center;
	font-size: 7em;
	font-family:Coneria Script Demo;
	margin-top: -0.2%;
}
.header p{
	color: white;
	text-align: center;
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 5px;
	margin-top:-6%;
	animation: fadeindown 3s;
	-webkit-animation: fadeindown 3s;
}

/*gallery kontrol*/
.container{
	width: 100%;
	margin-top: 5%;
	height: auto;
}
.container2{
	width: 100%;
	margin-bottom:-20%;
	height: auto;
}
.wadah{
  position: relative;
  width: 40%;
  margin-left: 7%;
  float: left;
  margin-top: 5%;
}
.wadah2{
  position: relative;
  width: 40%;
  float: left;
  margin-top: 5%;
  margin-left: 7%;
}
/*KETERANGAN*/
.keterangan{
	width: 30%;
	text-align: center;
	float: left;
	margin-top: 8%;
	margin-left: 5%;
	color: white;
	font-weight: 100;
	font-size: 20px;
	background-color: transparent;
}
.keterangan h2[name="about"]{
	display: block;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
.keterangan h2[name="gallery"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;

}
.keterangan h2[name="aspek"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
.keterangan h2[name="lorem"]{
	display:none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}



}
@media screen and (max-width: 991px){
	.navbar{
		width: 50%;
		margin: auto;
		text-align: right;
		margin-top: -8%;
	}
	.navbar ul li a{
	text-decoration: none;
	color: white;
	margin-right: 10%;
	font-size: 25px;
	font-weight: 100;
	line-height: 4;
}
	.sidemenuin a[name="close"]{
		display: none;
}
.keterangan{
	width: 44%;
	text-align: center;
	float: left;
	margin-top: 4%;
	letter-spacing: 1px;
	font-size: 14px;
	background-color: transparent;
}

}
@media screen and (max-width: 768px){
	.header{
	background: url('../gambar/wall4.jpg');
	background-position: center;
	background-size: cover;
	width: 102%;
	margin-left: -0.9%;
	margin-top: -2%;
	height: 101.9vh;
}
.keterangan{
display: none;
}
	.navbar{
		width: 80%;
		margin: auto;
		text-align: right;
		margin-top: -8%;
	}
/*NAVBAR*/
.navbar{
	width: 100%;
	background-color:transparent;
	position: relative;
	float: left;
	text-align: right;
	height: auto;
	margin-right: 5%;
	margin-top: -7%;
}
.navbar ul{
	list-style: none;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight: 100;
	line-height: 4.4;
}
.navbar ul li a:hover{
	transition: all 1s;
	margin-left: 5%;
}
.header h2{
color: white;
	padding-top:15%;
	text-align: center;
	font-size: 7em;
	font-family:Coneria Script Demo;
	margin-top: -0.2%;
}
.header p{
	color: white;
	text-align: center;
	font-size: 30px;
	font-weight: 100;
	letter-spacing: 5px;
	margin-top:-6%;
	animation: fadeindown 3s;
	-webkit-animation: fadeindown 3s;
}
}
@media screen and (max-width: 425px){
	.navbar3 ul li a{
	text-decoration: none;
	color: black;
	width: 100%;
	margin-left: 0%;
	float: left;
	text-align: left;
	font-size: 22px;
	font-weight: 100;
	line-height: 4;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 23px;
	font-weight: 100;
	line-height: 4.4;
}
	.navbar2{
	width: 100%;
	margin-top: -7%;
	}
	.container{
	width: 100%;
	margin-top: 5%;
	height: auto;
}
.container2{
	width: 100%;
	margin-bottom:-20%;
	height: auto;
}
.wadah{
  position: relative;
  width: 90%;
  margin-left: 5%;
  float: left;
  margin-top: 5%;
}
.header .judul ul li[name="menu"]{
	float: right;
	width: 24%;
	margin-right: -5%;
	cursor: pointer;
}
.wadah2{
  position: relative;
  width: 90%;
  float: left;
  margin-top: 5%;
  margin-left: 5%;
}
.gambar {
    display: block;
    width: 100%;
    height: auto;
}
.header{
	background: url('../gambar/wall4.jpg');
	background-position: center;
	background-size: cover;
	width: 100%;
	margin-left: -2%;
	margin-top: -3.9%;
	height: 101.9vh;
}
.header h2{
color: white;
	padding-top:20%;
	text-align: center;
	font-size: 6em;
	font-family:Coneria Script Demo;
}
.header p{
	color: white; 
	text-align: center;
	font-size: 25px;
	font-weight: 100;
	letter-spacing: 5px;
	margin-top:-17%;
	animation: fadeindown 3s;
	-webkit-animation: fadeindown 3s;
}
}
@media screen and (max-width: 375px){
		.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 100;
	line-height: 4.9;
}
	.navbar2{
	width: 100%;
	margin-top: -7%;
	margin-left: -2.5%;
	}
	.header .judul ul li[name="menu"]{
	float: right;
	width: 24%;
	margin-right: -5%;
	cursor: pointer;
}
.header h2{
color: white;
	padding-top:30%;
	text-align: center;
	font-size: 5em;
	font-family:Coneria Script Demo;
}
.header p{
	color: white; 
	text-align: center;
	font-size: 22px;
	font-weight: 100;
	letter-spacing: 5px;
	margin-top:-17%;
	animation: fadeindown 3s;
	-webkit-animation: fadeindown 3s;
}
}
@media screen and (max-width: 320px){
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 100;
	line-height: 5;
}
.navbar3 ul li a{
	text-decoration: none;
	color: black;
	width: 100%;
	margin-left: 0%;
	float: left;
	text-align: left;
	font-size: 20px;
	font-weight: 100;
	line-height: 4;
}
	.navbar2{
	width: 100%;
	margin-top: -7%;
	margin-left: -2.9%;
	}
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 22px;
	font-weight: 100;
	margin-right: 10%;
	line-height: 4.4;
}
.header{
	background: url('../gambar/wall4.jpg');
	background-position: center;
	background-size: cover;
	width: 104.9%;
	margin-left: -2%;
	margin-top: -3.9%;
	height: 101.9vh;
}
	.container{
	width: 100%;
	margin-top: 5%;
	height: auto;
}
.container2{
	width: 100%;
	margin-bottom:-20%;
	height: auto;
}
.wadah{
  position: relative;
  width: 100%;
  margin-left: 5%;
  float: left;
  margin-top: 5%;
}
.wadah2{
  position: relative;
  width: 100%;
  float: left;
  margin-top: 5%;
  margin-left: 5%;
}
.gambar {
    display: block;
    width: 97%;
    height: auto;
}
.wadah:hover .overlay {
  width: 97%;
  opacity: 0.9;
}
.wadah2:hover .overlay {
  width: 107%;
  opacity: 0.9;
}

}
