body{
	background: url('../gambar/about.jpg');
	font-family: calibri;
		animation: silau 2s;
	-webkit-animation: silau 2s;
	-moz-animation: silau 2s;
	-ms-animation: silau 2s;
}

::selection {background: skyblue;
 color:#ffffff;}
::-moz-selection {background: skyblue;
 color:#ffffff;}
::-webkit-selection {background: skyblue;
 color:#ffffff;}
::-webkit-scrollbar{
	width:1vh;
}
::-webkit-scrollbar-track{
	background-color:white;
}
::-webkit-scrollbar-thumb{
	background-color: skyblue;
}
::-moz-scrollbar{
	width:1vh;
}
::-moz-scrollbar-track{
	background-color:white;
}
::-moz-scrollbar-thumb{
	background-color: skyblue;
}
::-ms-scrollbar{
	width:1vh;
}
::-ms-scrollbar-track{
	background-color:white;
}
::-ms-scrollbar-thumb{
	background-color: skyblue;
}
/*NAVBAR*/
.navbar{
	width: 30%;
	background-color:transparent;
	position: relative;
	float: right;
	height: auto;
	margin-top: -7%;
}
.navbar ul{
	list-style: none;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight: 100;
	line-height: 4.4;
}
.navbar ul li a:hover{
	transition: all 1s;
	margin-left: 5%;
}
/*NAVBAR3*/
.navbar3{
	width: 100%;
	background-color:transparent;
	position: relative;
	text-align: center;
	margin: auto;
	height: auto;
	margin-top: -15%;
}
.navbar3 ul{
	list-style: none;
}
.navbar3 ul li a{
	text-decoration: none;
	color: black;
	font-size: 25px;
	font-weight: 100;
	line-height: 3.5;
}
.navbar3 ul li a:hover{
	transition: all 1s;
	margin-left: 5%;
}

/*HEADER1*/
.judul{
	width: 100%;
	background-color: transparent;
	padding-top: 2%;
	position: relative;
	top: 0;
	left: 0;

}
.judul ul li{
	color: white;
	list-style: none;
	font-size: 40px;
	line-height: 0.2;
	font-weight: 200;
	margin-left: 2%;
	letter-spacing: 1.5px;
}
.judul ul li[name="menu"]{
	float: right;
	display: block;
	margin-right: 1%;
	margin-top: -2%;
	cursor: pointer;
}
.judul img{
	width: 35%;
	margin-left: 20%;
}
.judul img:hover{
	transition: all 2s;
	transform: rotate(360deg);
}
/*KETERANGAN*/
.keterangan{
	width: 30%;
	text-align: center;
	float: left;
	margin-top: 8%;
	margin-left: 5%;
	font-size: 12px;
	background-color: transparent;
}
.keterangan h2[name="about"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
.keterangan h2[name="gallery"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;

}
.keterangan h2[name="aspek"]{
	display: none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
.keterangan h2[name="lorem"]{
	display:none;
			animation: daribawah 1s;
	-webkit-animation: daribawah 1s;
	-moz-animation: daribawah 1s;
	-ms-animation: daribawah 1s;
}
@keyframes daribawah{
	from{
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
	}
}
/*MENUSAMPING*/
.sidemenuin {
    height: 100%;
    width: 	0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: orange;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top:10%;
}
.sidemenuin a[name="close"]{
	color: white;
	text-decoration: none;
	top: 0;
	right: 0;
	margin-right: 3%;
	margin-top: 2%;
	position: absolute;
}
.sidemenuin a:hover{
	transition: all.2s;
	transform: scale(1.5)rotate(360deg);
}
.sidemenuin3 {
    height: 100%;
    width: 	0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F4F4F4;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top:10%;
}
.sidemenuin3 a[name="close"]{
	color: black;
	text-decoration: none;
	font-size: 50px;
	top: 0;
	right: 0;
	margin-right: 4%;
	margin-top: 1%;
	position: absolute;
}
.sidemenuin3 a:hover{
	transition: all.2s;
	transform: scale(1.5)rotate(360deg);
}
.header h1{
	font-size: 2.7em;
	color: white;
	font-weight: 100;
				animation: dariatas 2s;
	-webkit-animation: dariatas 2s;
	-moz-animation: dariatas 2s;
	-ms-animation: dariatas 2s;
}

.header h2{
	font-size: 2.7em;
	color: white;
	font-weight: 100;
	margin-top: 2%;
			animation: darikiri 2s;
	-webkit-animation: darikiri 2s;
	-moz-animation: darikiri 2s;
	-ms-animation: darikriri 2s;
}
.header h3{
	width: 70%;
	font-weight: 100;
	color: white;
			animation: daribawah 2s;
	-webkit-animation: daribawah 2s;
	-moz-animation: daribawah 2s;
	-ms-animation: daribawah 2s;
}
.foto{
	width: 20%;
	padding-left: 9%;
	background-color: transparent;
	float: left;
	text-align: center;
	animation: zoomin 2s;
 	-webkit-animation: zoomin 2s;
 	-moz-animation: zoomin 2s;
}
.foto h4{
	color: white;
}
.foto p{
	color: white;
}
.foto img{
	width: 50%;
	border-radius: 100%;
	width: 140px;
	height: 140px;
	
}
/*KONTROL ANIMASI*/
@keyframes zoomin {
  from {
    opacity: 0;
    transform: scale3d(0,0,3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes darikiri{
	from{
		opacity: 0;
		transform: translate3d(-100%, 0, 0);
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		-o-transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
	}
	to{
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
	}
}
@keyframes daribawah{
	from{
		opacity: 0;
		transform: translate3d(0, 100%, 0);
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
	}
}
@keyframes dariatas{
	from{
		opacity: 0;
		transform: translate3d(0, -100%, 0);
		-webkit-transform: translate3d(0, -100%, 0);
		-moz-transform: translate3d(0, -100%, 0);
		-o-transform: translate3d(0, -100%, 0);
		-ms-transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		transform: none;
		-webkit-transform: none;
		-moz-transform: none;
		-o-transform: none;
		-ms-transform: none;
	}
}
@keyframes silau{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

/*RESPONSIVE CONTROL*/
@media screen and (max-width: 1024px){
	
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight: 100;
	line-height: 4;
}
}
@media screen and (max-width: 991px){
	.navbar{
		width: 100%;
		margin: auto;
		text-align: center;
		margin-top: -8%;
	}
	.sidemenuin a[name="close"]{
		display: none;
}
}
@media screen and (max-width: 768px){
	.foto{
		width: 36%;
	}
	.keterangan{
display: none;
}
	.navbar{
		width: 100%;
		margin: auto;
		text-align: right;
		margin-top: -8%;
	}
	.navbar ul li a{
	text-decoration: none;
	color: white;
	margin-right: 5%;
	font-size: 25px;
	font-weight: 100;
	line-height: 4.4;
}
}
@media screen and (max-width: 425px){
	
.navbar3 ul li a{
	text-decoration: none;
	color: black;
	width: 100%;
	margin-left: 0%;
	float: left;
	text-align: left;
	font-size: 22px;
	font-weight: 100;
	line-height: 4;
}
.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 23px;
	font-weight: 100;
	line-height: 4.4;
}
	.foto{
		width: 85%;
		padding-bottom: 1.5%;
	}
	.header h2{
		text-align: center;
		font-size: 2.6em;
	}
	.header h1{
		text-align: center;
		margin-top: 20%;
	}
	.header h3{
		text-align: center;
		width: 100%;
	}
	.judul img{
	width: 27%;
	margin-left: 50%;
}
}
@media screen and (max-width: 375px){
			.header h2{
		text-align: center;
		font-size: 2.2em;
	}
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-weight: 100;
	line-height: 4.9;
}
	.navbar2{
	width: 100%;
	margin-top: -7%;
	margin-left: -2.5%;
	}

}
@media screen and (max-width: 320px){

	.navbar2{
	width: 100%;
	margin-top: -7%;
	margin-left: -2.9%;
	}
	.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 22px;
	font-weight: 100;
	margin-right: 10%;
	line-height: 4.4;
}
.header1{
	margin-top: -2%;
	width: 103%;
	margin-left:-1.9%; 
	height: 99.4vh;
	}

.navbar ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 100;
	line-height: 5;
}
.navbar3 ul li a{
	text-decoration: none;
	color: black;
	width: 100%;
	margin-left: 0%;
	float: left;
	text-align: left;
	font-size: 20px;
	font-weight: 100;
	line-height: 4;
}
}